{% extends "BackBundle:Default:index.html.twig" %}
{% block title %}Pacients{% endblock %}
{% block page_content %}
    <!-- Page Content -->
	    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-lg-12 col-md-12">
                <h1>Pacients</h1>
                <p>Llistat de pacients:</p>
                <table class="table table-hover">
                <th>nom</th>
                <th>cognom</th>
                <th>dni</th>
                <th>Dolencia</th>
                <th>Editar</th>
                <th>Eliminar</th>
                {% for pacient in pacients %}
                <tr>
                	<td>{{ pacient.nom }}</td>
                    <td>{{ pacient.cognom }}</td>
                    <td>{{ pacient.dni|upper }}</td>
        			<td>{{ pacient.dolencia }}</td>
                    <td><a href="{{ path('centre_medic_back_pacients_edit',{'dni':pacient.dni}) }}"><img src="{{ asset('img/edit.png') }}"  alt="Edit" height="32" width="32"> </img></a></td>
                    <td><a href="{{ path('centre_medic_back_pacients_delete',{'dni':pacient.dni}) }}"><img src="{{ asset('img/delete.png') }}"   alt="Delete" height="32" width="32"> </img></a></td>
        		</tr>
				{% endfor %}
				</table>
            </div>
            <div class="col-sm-12 col-lg-12 col-md-12">
        <a href="{{ path('centre_medic_back_pacients_new') }}" class="btn btn-info" role="button">Afegir Pacient</a>
    </div>
        </div>
    </div>
{% endblock %}